section{
    
    background-color: rgb(244, 250, 250);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.logo img{
    max-width: 100px;
}
.menu ul li{
    display: inline;
}
header{
     padding: 20px 0;
}
.logo, .menu{
    display: inline-block;
}
.menu ul li a{
    color: aqua;
    text-decoration: none;  
    display: inline;
    padding: 0 25px;
    font-size: 25px;
}
.menu{
    position: relative;
    bottom: 40px;
}
.menu ul li a:hover {
    color: rgb(15, 14, 14);
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
}
.slider{
    background-image: url('../Background.jpeg');
    height: 500px;
   background-position-x: center;
   background-position-y: center;
   background-repeat: no-repeat;
}
.item{
    display:inline-block;
    width: 30%;
    margin: 1%;
}
.item img{
    width: 100%;
}