section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-width: 100px;
}

.menu ul li {
  display: inline;
}

header {
    padding: 20px 0;
}

.logo,
.menu {
    display: inline-block;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
    display: inline;
    padding: 0 25px;
    font-size: 20px;
}

.menu {
    position: relative;
    bottom: 40px;
}

.menu ul li a:hover {
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
}

.slider {
    background-image: url('../img/slider.jpeg');
    height: 400px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item {
    display: inline-block;
    width: 30%;
    margin: 1%;
    border: 1px solid #f2f2f2;
}
.item img{
    width: 100%;
    padding: 1%;
}
.item .titulo, .item .preco{
      font-size: 20px;
      text-align: center;
      font-weight: 800;
    
}
.btn{
    background-color: #0f0a0a;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.item a{
     text-decoration: none;
}
footer{
    background-color: indianred;
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}
footer label, footer input, footer textarea{
    width: 100%;
    padding: 10px;
    margin: 10px;
} 
footer form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.whats{
    background-color: green;
    color: #fff;
    bottom: 0;
    right: 150px;
    position: fixed;
    padding: 20px;
}
.sobre{
    font-size: 22px;
    line-height: 22px;
}
.sobre p, .sobre img{
    width: 46%;
    display: inline-block;
    padding: 1px;
}
.sobre h1{
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.sobre p{
    float: left;
    text-align: justify;
}
.sobre img{
    border-radius: 30px;
}
